<!DOCTYPE html>

<html lang="en" class="dark-style layout-navbar-fixed layout-menu-fixed layout-compact " dir="ltr"
  data-theme="theme-default" data-assets-path="../static/" data-template="./templates/">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>Solve-A-Thon '24 | VIT Chennai</title>

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="../static/img/logo.png" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Icons -->
  <link rel="stylesheet" href="../static/vendor/fonts/boxicons.css" />
  <link rel="stylesheet" href="../static/vendor/fonts/fontawesome.css" />
  <link rel="stylesheet" href="../static/vendor/fonts/flag-icons.css" />

  <!-- Core CSS -->
  <link rel="stylesheet" href="../static/vendor/css/rtl/core-dark.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="../static/vendor/css/rtl/theme-default-dark.css" class="template-customizer-theme-css" />
  <link rel="stylesheet" href="../static/css/demo.css" />

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="../static/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
  <link rel="stylesheet" href="../static/vendor/libs/typeahead-js/typeahead.css" />
  <!-- Vendor -->
  <link rel="stylesheet" href="../static/vendor/libs/@form-validation/form-validation.css" />

  <!-- Page CSS -->
  <!-- Page -->
  <link rel="stylesheet" href="../static/vendor/css/pages/page-auth.css">

  <!-- Helpers -->
  <script src="../static/vendor/js/helpers.js"></script>
  <script src="../static/vendor/js/template-customizer.js"></script>
  <script src="../static/js/config.js"></script>

</head>

<body>

  <!-- Content -->

  <div class="authentication-wrapper authentication-cover">
    <div class="authentication-inner row m-0">
      <!-- /Left Text -->
      <div class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center p-5">
        <div class="w-100 d-flex justify-content-center">
          <img src="../static/img/illustrations/boy-with-rocket-dark.png" class="img-fluid" alt="Login image"
            width="700" data-app-dark-img="illustrations/boy-with-rocket-dark.png"
            data-app-light-img="illustrations/boy-with-rocket-light.png">
        </div>
      </div>
      <!-- /Left Text -->

      <!-- Login -->
      <div class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg p-sm-5 p-4">
        <div class="w-px-400 mx-auto">
          <!-- Logo -->
          <div class="app-brand mb-5">
            <a href="https://solveathon.in" target="_blank" class="app-brand-link gap-2">
              <span class="app-brand-logo demo">

                <img src="../static/img/logo.png" alt="logo">

              </span>
              <span class="app-brand-text demo text-body fw-bold text-uppercase">SOLVE-A-THON '24</span>
            </a>
          </div>
          <!-- /Logo -->         

          <h4 class="mb-2">Welcome! 👋</h4>
          <p class="mb-4">Please sign-in to your account and start hacking.</p>

          <form id="formAuthentication" class="mb-3" action="/login" method="POST">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" autofocus>
            </div>
            <div class="mb-3 form-password-toggle">
              <div class="d-flex justify-content-between">
                <label class="form-label" for="password">Password</label>
                <a href="/forgot-password">
                  <small>Forgot Password?</small>
                </a>
              </div>
              <div class="input-group input-group-merge">
                <input type="password" id="password" class="form-control" name="password" aria-describedby="password"
                  placeholder="Enter your password" />
              </div>
            </div>
            <button class="btn btn-primary btn-submit w-100">Submit</button>
          </form>

          {% if error %}
            <span class="badge bg-label-danger me-1 w-100">Invalid E-Mail/Password</span>
          {% endif %}

          {% if newPassword %}
            <button class="btn btn-success d-grid w-100 mb-2">New Password sent to registered E-Mail!</button>
          {% endif %}           

        </div>
      </div>
      <!-- /Login -->
    </div>
  </div>

  <!-- / Content -->

  <!-- Core JS -->

  <script src="../static/vendor/libs/jquery/jquery.js"></script>
  <script src="../static/vendor/libs/popper/popper.js"></script>
  <script src="../static/vendor/js/bootstrap.js"></script>
  <script src="../static/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script src="../static/vendor/libs/hammer/hammer.js"></script>
  <script src="../static/vendor/libs/i18n/i18n.js"></script>
  <script src="../static/vendor/libs/typeahead-js/typeahead.js"></script>
  <script src="../static/vendor/js/menu.js"></script>

  <!-- Vendors JS -->
  <script src="../static/vendor/libs/@form-validation/popular.js"></script>
  <script src="../static/vendor/libs/@form-validation/bootstrap5.js"></script>
  <script src="../static/vendor/libs/@form-validation/auto-focus.js"></script>

  <!-- Main JS -->
  <script src="../static/js/main.js"></script>


  <!-- Page JS -->
  <script src="../static/js/pages-auth.js"></script>

</body>

</html>